﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = $"Users in role {ViewBag.role}";
}

<h5>Users in role <strong>@ViewBag.role</strong></h5>
<hr />
<table class="table">
    <thead>
				@if (Model?.Count() > 0)
        {
        <tr>
            <th>
                @("User Name")
            </th>
            <th>
                @("Email")
            </th>
            <th></th>
        </tr>
				}
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Email)
                </td>
                <td class="no-wrap">
                    @if ((User.IsInRole("admin") && !UserManager.GetUserName(User).Equals(item.UserName, StringComparison.OrdinalIgnoreCase))
               || !ViewBag.role.Equals("admin", StringComparison.OrdinalIgnoreCase))
                    {
                        <a asp-action="RemoveFromRole" asp-route-userId="@item.Id" asp-route-roleName="@ViewBag.role">Remove</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="form-group">
    <form asp-action="AddToRole">
        <div class="form-group form-inline">
            <input id="roleName" name="roleName" type="hidden" value="@ViewBag.role" />
            <label class="control-label d-inline">Users <strong>not</strong> in role:</label>&nbsp;&nbsp;
            <select id="userId" name="userId" class="form-control" asp-items="ViewBag.exclusions"></select>&nbsp;&nbsp;
            <input type="submit" value="Add to Role" class="btn btn-primary" />
        </div>

    </form>
</div>
<hr />
<div>
    <a class="btn btn-info" asp-action="Index">Return to List</a>
</div>
