﻿@model QualityTagsAlertSystem.Models.UserRegistration;

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirm Your Email</title>
    <style>
        html {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            margin: 1rem auto;
            border: 3px solid #000;
        }

        div,
        div h2 {
            margin: .75rem auto;
            padding: 0 2rem;
            text-align: center;
        }

            div.link {
                margin-top: 2.25em;
            }

        cite {
            display: block;
            font-size: 80%;
            text-align: left;
        }

        hr {
            width: 95%;
        }

        @@media only screen and (max-width: 600px) {
            img {
                width: 100px;
            }
        }
    </style>
</head>

<body>
    <div>
        <div><img src="https://www.stackpole.com/uploads/images/stackpole-logo.png" alt="Stackpole Company Logo" /></div>
        <div><h2>Quality Alert Tags System</h2></div>
        <div>Dear @Html.DisplayFor(_ => Model.UserName),</div>
        <div>
            We just received a request to change the e-mail associated with your account.
        </div>
        <div class="link">
            Please <a href="#" title="Confirm your email">click here</a> to confirm your new e-mail.
        </div>
        <div>
            If you don't remember making this request, please <strong style="color:#cb4154 ">take action to secure your account immediately.</strong>
        </div>
        <hr />
        <div>
            <cite>
                This e-mail message is being sent solely for use by the intended recipient(s) and may contain confidential
                information. Any unauthorized review, use, disclosure or distribution is prohibited. If you are not the
                intended recipient, please contact the sender by phone or reply by e-mail, delete the original message and
                destroy all copies. Thank you.
            </cite>
        </div>
    </div>

</body>

</html>