﻿@model QualityTagsAlertSystem.Models.PasswordUpdate
@{
    ViewData["Title"] = "Forgot your password?";
    string returnURL = ViewBag.ReturnUrl ?? "/QualityIssues";
}
@if (User.IsInRole("admin"))
{
	<h5>Change a User's Password</h5>
}
else
{
	<h6><em>Send recovery instructions to your email address</em></h6>
}
<hr />
<div class="row">
    <div class="col-xl">
        <form asp-action="ResetPassword">
            <input type="hidden" name="returnUrl" value="@returnURL" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger no-wrap"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger no-wrap"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger no-wrap"></span>
            </div>
            <div class="form-group form-inline">
                <input type="submit" value="Reset Password" class="btn btn-primary" />&nbsp;&nbsp;
                <a class="btn btn-info" href="@returnURL">Back</a>
            </div>
        </form>
    </div>
</div>

<div class="form-group form-inline">

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
