﻿@model IEnumerable<QualityTagsAlertSystem.Models.Parts>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RptScrap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RptScrap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PartId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
