@model QualityTagsAlertSystem.Models.TagReport
<table class="table report no-wrap">
    <thead>
        <tr style="border-top: 1px solid black">
            <th colspan="6">
                @Html.Raw(@Model.Title.Value)
            </th>
        </tr>

        <tr>
            <th class="cell">Date</th>
            <th class="cell">Process</th>
            <th class="cell">By</th>
            <th class="cell">Quantity</th>
            <th class="cell" style="border-bottom:0">Reason</th>
            <th class="cell" style="border-bottom:0">@Html.DisplayFor(_ => Model.LongId)</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="cell">@Html.DisplayFor(_ => Model.Date)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.Operation)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.IssuedBy)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.Qty)</td>
            <td class="cell" style="border-top:0">@Html.DisplayFor(_ => Model.Reason)</td>
            <td class="cell" style="border-top:0">
                <em>Record Tag # on all Trace Tags</em>
            </td>
        </tr>
        <tr>
            <td colspan="2"><strong>Reason Note</strong></td>
            <td><strong>Machine:</strong></td>
            <td>@Html.DisplayFor(_ => Model.MachineId)</td>

            <td>@Html.DisplayFor(_ => Model.SupplierIssue)&nbsp;@Html.DisplayNameFor(_ => Model.SupplierIssue)</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">@Html.DisplayFor(_ => Model.Body)</td>
            <td colspan="2" rowspan="3">
                @foreach (Tuple<string, string> picData in ViewContext.ViewBag.PictureData)
                {
                    (string Uri, string Name) picture = picData.ToValueTuple();


                    <div style="display:inline">
                        <a href="~/storage/@picture.Uri"><img src="~/storage/@picture.Uri" alt="Attached Picture" width="200" /></a>
                    </div>

                }
            </td>
        </tr>
        <tr>
            <td colspan="4"><strong>Comment</strong></td>
        </tr>
        <tr>
            <td colspan="4">@Html.DisplayFor(_ => Model.Comment)</td>
        </tr>

        <tr><td colspan="6"><hr style="border: 3px solid #DDD" /></td></tr>

        <tr>
            <td class="cell" rowspan="2"><strong>Disposition:</strong></td>
            <td class="cell" style="border-bottom:0"><strong>Sort</strong></td>
            <td class="cell" style="border-bottom:0"><strong>Scrap</strong></td>
            <td colspan="2" rowspan="5" style="white-space:normal"><em>Remember to record Tag Number when sorting finished goods with Audit Tag</em></td>
            <td class="cell" style="border-bottom:0;text-align:center"><strong>OK To Process These Parts</strong></td>
        </tr>
        <tr>
            <td class="cell" style="border-top:0;text-align:center">@Html.CheckBox("SortAmount", false, new { @onclick = "return false" })</td>
            <td class="cell" style="border-top:0;text-align:center">@Html.CheckBox("ScrapAmount", false, new { @onclick = "return false" })</td>
            <td class="cell" style="border-top:0;border-bottom:0"><strong>By:</strong></td>
        </tr>
        <tr>
            <td class="cell"><strong>Amount:</strong></td>
            <td class="cell"></td>
            <td class="cell"></td>

            <td class="cell" style="border-top:0;border-bottom:0"><strong>Date:</strong></td>
        </tr>
        <tr>
            <td class="cell"><strong>By:</strong></td>
            <td class="cell"></td>
            <td class="cell"></td>

            <td class="cell" rowspan="2" style="border-top:0">
                <em>
                    Must be signed by one of the following:<br />
                    Quality manager, Quality supervisor, Quality Engineer
                </em>
            </td>
        </tr>
        <tr>
            <td class="cell"><strong>Date:</strong></td>
            <td class="cell"></td>
            <td class="cell"></td>
        </tr>
    </tbody>
</table>

<div style="text-align:center">
    <p> PRINT ON YELLOW PAPER. STAPLE A COPY AND RECORD HOLD TAG NUMBER ON ALL TRACE TAGS. FOWARD COPY TO SUPERVISOR.</p>
    <div style="text-align:left"><em>Printed: @System.DateTime.Now.ToString("dd-MMM-yy")</em></div>
    <br />
</div>
@*<hr style="border-top:dashed 3px">*@
<table class="table report no-wrap">
    <thead>
        <tr style="border-top: 1px solid black">
            <th colspan="6">
                @Html.Raw(@Model.Title.Value)
            </th>
        </tr>

        <tr>
            <th class="cell">Date</th>
            <th class="cell">Process</th>
            <th class="cell">By</th>
            <th class="cell">Quantity</th>
            <th class="cell" style="border-bottom:0">Reason</th>
            <th class="cell" style="border-bottom:0">@Html.DisplayFor(_ => Model.LongId)</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="cell">@Html.DisplayFor(_ => Model.Date)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.Operation)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.IssuedBy)</td>
            <td class="cell">@Html.DisplayFor(_ => Model.Qty)</td>
            <td class="cell" style="border-top:0">@Html.DisplayFor(_ => Model.Reason)</td>
            <td class="cell" style="border-top:0">
                <em>Record Tag # on all Trace Tags</em>
            </td>
        </tr>
        <tr>
            <td colspan="2"><strong>Reason Note</strong></td>
            <td><strong>Machine:</strong></td>
            <td>@Html.DisplayFor(_ => Model.MachineId)</td>

            <td>@Html.DisplayFor(_ => Model.SupplierIssue)&nbsp;@Html.DisplayNameFor(_ => Model.SupplierIssue)</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">@Html.DisplayFor(_ => Model.Body)</td>
            <td colspan="2" rowspan="3" style="max-width:500px">
                @foreach (Tuple<string, string> picData in @ViewContext.ViewBag.PictureData)
                {
                    (string Uri, string Name) picture = picData.ToValueTuple();


                    <div style="display:inline">
                        <a href="~/storage/@picture.Uri"><img src="~/storage/@picture.Uri" alt="Attached Picture" width="200" /></a>
                    </div>

                }
            </td>
        </tr>
        <tr>
            <td colspan="4"><strong>Comment</strong></td>
        </tr>
        <tr>
            <td colspan="4">@Html.DisplayFor(_ => Model.Comment)</td>
        </tr>

        <tr><td colspan="6"><hr style="border: 3px solid #DDD" /></td></tr>

        <tr>
            <td class="cell" rowspan="2"><strong>Disposition:</strong></td>
            <td class="cell" style="border-bottom:0"><strong>Sort</strong></td>
            <td class="cell" style="border-bottom:0"><strong>Scrap</strong></td>
            <td colspan="2" rowspan="5" style="white-space:normal"><em>Remember to record Tag Number when sorting finished goods with Audit Tag</em></td>
            <td class="cell" style="border-bottom:0;text-align:center"><strong>OK To Process These Parts</strong></td>
        </tr>
        <tr>
            <td class="cell" style="border-top:0;text-align:center">@Html.CheckBox("SortAmount", false, new { @onclick = "return false" })</td>
            <td class="cell" style="border-top:0;text-align:center">@Html.CheckBox("ScrapAmount", false, new { @onclick = "return false" })</td>
            <td class="cell" style="border-top:0;border-bottom:0"><strong>By:</strong></td>
        </tr>
        <tr>
            <td class="cell"><strong>Amount:</strong></td>
            <td class="cell"></td>
            <td class="cell"></td>

            <td class="cell" style="border-top:0;border-bottom:0"><strong>Date:</strong></td>
        </tr>
        <tr>
            <td class="cell"><strong>By:</strong></td>
            <td class="cell"></td>
            <td class="cell"></td>

            <td class="cell" rowspan="2" style="border-top:0">
                <em>
                    Must be signed by one of the following:<br />
                    Quality manager, Quality supervisor, Quality Engineer
                </em>
            </td>
        </tr>
        <tr>
            <td class="cell"><strong>Date:</strong></td>
            <td class="cell"></td>
            <td class="cell"></td>
        </tr>
    </tbody>
</table>
<div style="text-align:center">
    <p> PRINT ON YELLOW PAPER. STAPLE A COPY AND RECORD HOLD TAG NUMBER ON ALL TRACE TAGS. FOWARD COPY TO SUPERVISOR.</p>
    <div style="text-align:left"><em>Printed: @System.DateTime.Now.ToString("dd-MMM-yy")</em></div>
    <br />
</div>