﻿@{ ViewData["Title"] = "About this Application"; }
<h4>@ViewData["Title"]</h4>

<p>Copyright &copy; 2020 Robert Di Pardo and Contributors</p>
<p>This software is distributed under the terms of the Apache License, Version 2.0. More information can be found <a href="http://www.apache.org/licenses/LICENSE-2.0">here</a>.</p>
<hr />
<div>
    <h6><em>The developers are grateful to the engineering staff at Stackpole International (Stratford, Ontario) for their co-operation and guidance</em></h6>
</div>
<hr />
<p xmlns:dct="https://purl.org/dc/terms/" xmlns:vcard="https://www.w3.org/2001/vcard-rdf/3.0#">
    <div style="width:auto;margin:0 auto">
        <a rel="license"
           href="https://creativecommons.org/publicdomain/zero/1.0/">
            <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" style="display:block;margin:0 auto;border-style:none;" alt="CC0" />
        </a>
    </div>
    <br />
    To the extent possible under law,
    <a rel="dct:publisher"
       href="https://www.pexels.com/@@pixabay">
        <span property="dct:title">Pixabay</span>
    </a>
    has waived all copyright and related or neighboring rights to
    <span property="dct:title"><a href="https://www.pexels.com/photo/blur-brass-chrome-close-up-209255/">Clock Motor</a></span>.


<p>
@section Scripts {
    <script>
        $(function () {
            $('main').css('max-width', '80%');
        });
    </script>
}
