﻿@{ ViewData["Title"] = "Stackpole Quality Tags Alert System"; }

<div class="text-center">
    <div style="width:auto;"><img src="~/img/stackpole-logo.png" alt="Stackpole-Logo" /></div>
    <br />
    <h4>Quality Assurance</h4>
    <h5>Tag Processing System</h5>
</div>
