﻿@model QualityTagsAlertSystem.Models.QualityIssues

<div class="panel-left">
    <div class="d-flex flex-column">
        <div class="form-group">
            <label asp-for="PartId" class="control-label"></label>
            <input class="form-control" list="partList" placeholder="Please select . . . " value="@Model.PartId" />
            <datalist id="partList">
                @foreach (var part in ViewContext.ViewBag.PartList)
                {
                    <option data-value="@part.PartId" value="@part.PartId" />
                }
            </datalist>
            @Html.HiddenFor(m => m.PartId)
            <span class="text-info list-input-prompt">Click to see options</span>
            <span asp-validation-for="PartId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Reason" class="control-label"></label>
            <input class="form-control" list="reasonList" placeholder="Please select . . . " value="@Model.Reason" />
            <datalist id="reasonList">
                @foreach (var reason in ViewContext.ViewBag.ReasonList)
                {
                    <option data-value="@reason.Reason" value="@reason.Reason" />
                }
            </datalist>
            @Html.HiddenFor(m => m.Reason)
            <span class="text-info list-input-prompt">Click to see options</span>
            <span asp-validation-for="Reason" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MachineId" class="control-label"></label>
            <input class="form-control" list="machineList" placeholder="Please select . . . " value="@Model.MachineId" />
            <datalist id="machineList">
                @foreach (var machine in ViewContext.ViewBag.MachineList)
                {
                    <option data-value="@machine.MachineId" value="@machine.MachineId" />
                }
            </datalist>
            @Html.HiddenFor(m => m.MachineId)
            <span class="text-info list-input-prompt">Click to see options</span>
            <span asp-validation-for="MachineId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Operation" class="control-label"></label>
            <input class="form-control" list="processList" placeholder="Please select . . . " value="@Model.Operation" />
            <datalist id="processList">
                @foreach (var step in ViewContext.ViewBag.ProcessList)
                {
                    <option data-value="@step.Department" value="@step.Department" />
                }
            </datalist>
            @Html.HiddenFor(m => m.Operation)
            <span class="text-info list-input-prompt">Click to see options</span>
            <span asp-validation-for="Operation" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex">
        <div class="form-group">
            <label asp-for="IssuedBy" class="control-label"></label>
            <input asp-for="IssuedBy" class="form-control" />
            <span asp-validation-for="IssuedBy" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="OkdBy" class="control-label"></label>
            <input asp-for="OkdBy" class="form-control" />
            <span asp-validation-for="OkdBy" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="form-group qa-tag-field tpc-tag-field special-tag-field">
            <label asp-for="LengthOfChange" class="control-label"></label>
            <span class="form-inline">
                <input asp-for="LengthOfChange" class="form-control number-input" style="width:4rem;" maxlength="4" />&nbsp;days&nbsp;&nbsp;
            </span>
            <span asp-validation-for="LengthOfChange" class="text-danger"></span>
        </div>
        <div class="form-group qa-tag-field tpc-tag-field special-tag-field">
            <label asp-for="ExpiresOn" class="control-label"></label>
            <span id="ExpiresOn" class="no-wrap"><strong>@Model.ExpiresOn.ToString("MMMM d, yyyy")</strong></span>
        </div>
    </div>
</div>

<div class="panel-right">
    <fieldset class="tagSummary">
        <legend class="text-black-50">Tag Summary</legend>
        <div class="form-group form-check" data-target=".qa-tag-field">
            <label class="form-check-label">
                @Html.EditorFor(model => model.QualityMemo, new { @checked = "checked" })&nbsp;@Html.DisplayNameFor(model => model.QualityMemo)
            </label>
            <span asp-validation-for="QualityMemo" class="text-danger"></span>
        </div>
        <div class="form-group form-check" data-target=".hold-tag-field">
            <label class="form-check-label">
                @Html.EditorFor(model => model.HoldTag)&nbsp;@Html.DisplayNameFor(model => model.HoldTag)
            </label>
            <span asp-validation-for="HoldTag" class="text-danger"></span>
        </div>
        <div class="form-group form-check" data-target=".tpc-tag-field">
            <label class="form-check-label">
                @Html.EditorFor(model => model.TpcTag)&nbsp;@Html.DisplayNameFor(model => model.TpcTag)
            </label>
            <span asp-validation-for="TpcTag" class="text-danger"></span>
        </div>
        <div class="form-group form-check" data-target=".special-tag-field">
            <label class="form-check-label">
                @Html.EditorFor(model => model.SpecialInstWritten)&nbsp;@Html.DisplayNameFor(model => model.SpecialInstWritten)
            </label>
            <span asp-validation-for="SpecialInstWritten" class="text-danger"></span>
        </div>
    </fieldset>

    <!-- only shown when Hold Tag is checked -->
    <div class="form-group hold-tag-field collapse">
        <label asp-for="Qty" class="control-label"></label>
        <input asp-for="Qty" class="form-control" />
        <span asp-validation-for="Qty" class="text-danger"></span>
    </div>

    <!-- only shown when SpecialInstWritten is checked -->
    <div class="form-group special-tag-field collapse">
        <label asp-for="Feature" class="control-label"></label>
        <textarea asp-for="Feature" class="form-control"></textarea>
        <span asp-validation-for="Feature" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label" id="lblBody">Additional Information</label>
        <textarea asp-for="Body" class="form-control"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Comment" class="control-label"></label>
        <textarea asp-for="Comment" class="form-control" rows="2"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>

    <div class="d-flex">
        <div class="d-flex flex-column">
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.EditorFor(model => model.SupplierIssue)&nbsp;@Html.DisplayNameFor(model => model.SupplierIssue)
                    <span asp-validation-for="SupplierIssue" class="text-danger"></span>
                </label>
            </div>

            <!-- only shown when TPC Tag is checked -->
            <div class="form-group form-check tpc-tag-field collapse">
                <label class="form-check-label">
                    @Html.EditorFor(model => model.ModWritten)&nbsp;@Html.DisplayNameFor(model => model.ModWritten)
                    <span asp-validation-for="ModWritten" class="text-danger"></span>
                </label>
            </div>
        </div>
    </div>
</div>
