﻿@model IEnumerable<QualityTagsAlertSystem.Models.CustomerIssue>

@{
    ViewData["Title"] = "Customer Issues";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LongId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerRefNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityAtag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoldTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TpcTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialInstWritten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityMemo)
            </th>
            <th>@Html.DisplayNameFor(model => model.Closed)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LongId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerRefNum)
                </td>
                <td class="no-wrap">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QualityAtag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoldTag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TpcTag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialInstWritten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QualityMemo)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Closed)
                </td>
                <td>
                    <a asp-controller="QualityIssues" asp-action="Print" asp-route-id="@item.Id" title="Print Preview"><i class="fa fa-lg fa-eye" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a asp-controller="QualityIssues" asp-action="Edit" asp-route-id="@item.Id" title="Edit Details"><i class="fa fa-lg fa-pencil" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Error" asp-route-id="@item.Id" title="Follow Up"><i class="fa fa-lg fa-calendar" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
