﻿@model IEnumerable<IGrouping<string, QualityTagsAlertSystem.Models.CustomerSorter>>

@{
    ViewData["Title"] = "Customer Contact Info";
}

<table class="table">
    <thead>
        <tr style="font-style:oblique;color:#009;border-top:3px solid #009;border-bottom:3px solid #009">
            <th style="width:12em"></th>
            <th>
                @("Sorter")
            </th>
            <th>
                @("Contact Name")
            </th>
            <th>
                @("Phone")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {

            <tr style="border:none">
                <td class="rpt-data" colspan="4">
                    <strong>@Html.DisplayFor(_ => company.Key)</strong>
                </td>
            </tr>
            @foreach (var sorter in company)
            {

                <tr style="border:none;color: #009">
                    <td class="rpt-data" colspan="4"><em>@Html.DisplayFor(_ => sorter.CustLocation)</em></td>
                </tr>

                <tr style="border-bottom:1px solid #009">
                    <td class="rpt-data" style="width:10em"></td>
                    <td class="rpt-data">@Html.DisplayFor(_ => sorter.SortCompanyName)</td>
                    <td class="rpt-data">@Html.DisplayFor(_ => sorter.SorterName)</td>
                    <td class="rpt-data">@Html.DisplayFor(_ => sorter.SortPhoneNumber)</td>
                </tr>

            }

        }
    </tbody>
</table>
