﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@model QualityTagsAlertSystem.Models.QualityIssues
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "New Quality Alert Tag";
}

<h2 class="text-danger">@ViewBag.ProblemSource</h2>

<h5><strong id="lblSubForm">Quality Alert</strong></h5>

<div class="text-dark text-lg-right">
    <span>@string.Format($"{Model.Date}")&nbsp;&nbsp;|&nbsp;&nbsp;<strong>NEW</strong></span>
</div>
<hr />

<div class="row">
    <div class="col-xl">
        <form id="frmNewTag" asp-action="Create">
            <div class="grid-layout">
                @Html.HiddenFor(model => model.ProblemType)
                @Html.HiddenFor(model => model.Date)
                @Html.HiddenFor(model => model.Attachments)
                <input type="hidden" id="photo01" name="photo01" />
                <input type="hidden" id="photo02" name="photo02" />
                <input type="hidden" id="tagCreator" name="tagCreator" value="@UserManager.GetUserId(User)" />

                @if (Model.IsExternalAlert)
                {
                    <partial name="~/Views/Tags/Create/_NewExternalAlert.cshtml" model="Model" />
                }
                else
                {
                    <partial name="~/Views/Tags/Create/_NewInternalAlert.cshtml" model="Model" />

                }

            </div>
        </form>

        <div>
            <form enctype="multipart/form-data" oninput="uploadFilesAsync(this)">
                <input type="hidden" id="picturePath" name="picturePath" />
                <div class="form-group">
                    <label><em>Picture 1</em></label>&nbsp;&nbsp;
                    <input type="file" id="photoUpload01" name="photoUpload01" />
                </div>
                <div class="form-group">
                    <label><em>Picture 2</em></label>&nbsp;&nbsp;
                    <input type="file" id="photoUpload02" name="photoUpload02" />
                </div>
            </form>
        </div>
        <div>
            <form enctype="multipart/form-data" oninput="uploadFilesAsync(this)">
                <input type="hidden" id="attachmentPath" name="attachmentPath" />
                <div class="form-group">
                    <label><em>File Attachments</em></label>&nbsp;&nbsp;
                    <input type="file" id="attachments" name="attachments" multiple />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="form-inline">
    <input form="frmNewTag" type="submit" value="Create" class="btn btn-primary" />&nbsp;&nbsp;
    <input form="frmNewTag" type="reset" value="Clear Form" class="btn btn-info" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            FormAPI.initForm();
            FormAPI.restoreDisplayValuesOnError();
            $('main').css('min-width', '60%');
        });
    </script>
}
