﻿@using QualityTagsAlertSystem.Models
@model TagReport

@{
    ViewData["Title"] = $"{Model.LongId} | Edit View";
    string returnUrl = ViewBag.ReturnURL ?? "/QualityIssues";
}
<form id="frmEditTag" asp-action="Edit" asp-route-returnUrl="@returnUrl">
    <div asp-validation-summary="All" class="text-danger"></div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ProblemType)
    @Html.HiddenFor(m => m.Date)

    <!--TODO: make these editable!-->
    @Html.HiddenFor(m => m.QualityAtag)
    @Html.HiddenFor(m => m.QualityMemo)
    @Html.HiddenFor(m => m.HoldTag)
    @Html.HiddenFor(m => m.TpcTag)
    @Html.HiddenFor(m => m.SpecialInstWritten)
    @Html.HiddenFor(m => m.Picture01)
    @Html.HiddenFor(m => m.Picture02)
    @Html.HiddenFor(m => m.Attachments)
    @Html.HiddenFor(m => m.DispositionCustomer)

    @{
        switch (Model.Template)
        {
            case TagTemplate.QualityAlertInternal:
                <partial name="~/Views/Tags/Edit/_SpecialInstruction.cshtml" model="Model" />
                break;
            case TagTemplate.QualityAlertExternal:
                <partial name="~/Views/Tags/Edit/_SpecialInstruction.cshtml" model="Model" />
                break;
            case TagTemplate.Hold:
                <partial name="~/Views/Tags/Edit/_HoldTag.cshtml" model="Model" />
                break;
            case TagTemplate.TPC:
                <partial name="~/Views/Tags/Edit/_SpecialInstruction.cshtml" model="Model" />
                break;
            case TagTemplate.Special:
                <partial name="~/Views/Tags/Edit/_SpecialInstruction.cshtml" model="Model" />
                break;
            default:
                <partial name="~/Views/Tags/Edit/_SpecialInstruction.cshtml" model="Model" />
                break;
        }
    }

    <div class="form-inline">
        <input form="frmEditTag" type="submit" value="Save" class="btn btn-primary no-wrap" />&nbsp;&nbsp;
        <a class="btn btn-info no-wrap" href="@returnUrl">Cancel</a>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $('main').addClass('tag-report');
            FormAPI.restoreDisplayValuesOnError();
        });
    </script>
}
