﻿@page
@model IndexModel
@{
    ViewData["Title"] = $"Manage your Account";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <partial name="_ManageNav" />
        </div>
        <div class="col-xl">

            <form id="profile-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('main').css('min-width', '60%');
    </script>
    <partial name="_ValidationScriptsPartial" />
}
