﻿<!--Apr.2,2020 by Xinghua Li-->
<table class="tag-report">
    <thead>
        <tr style="border-top: 1px solid black;">
            <th colspan="4" style="font-size:xx-large;text-align:center;">
                Quality Alert
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td style="font-style: italic;">
                Date/Time Issued:
            </td>
            <td>
                0310312020 6:00:08 PM
            </td>
            <td style="font-style: italic;">
                ID Number:
            </td>
            <td>
                lN 18 19430
            </td>
        </tr>

        <tr style="border-top: 1px solid black;">
            <td style="font-style: italic;">
                Purl Number:
            </td>
            <td style="font-size:x-large;font-weight: bold;">
                1102-8536
            </td>
            <td style="font-style: italic;">
                Mnchine Number:
            </td>
            <td>
                0
            </td>
        </tr>

        <tr>
            <td style="font-style: italic;">
                Current Process Step
            </td>
            <td>
                Secondary
            </td>
            <td style="font-style: italic;">
                Isswed By:
            </td>
            <td>
                qwerty101
            </td>
        </tr>

        <tr>
            <td style="font-style: italic;">
                Reason:
            </td>
            <td>
                lncomplete Operation
            </td>
            <td style="font-style: italic;">
                Supplier Issue
            </td>
            <td>
                <input type="checkbox" checked>
            </td>
        </tr>

        <tr>
            <td colspan="4" style="font-style: italic;border-top:black 1px solid;">
                Adtlition Information:
            </td>
        </tr>


        <tr>
            <td colspan="4" style="font-style: italic;border-top:black 10px solid;font-size: larger;font-weight: bold;">
                Alert
            </td>
        </tr>

        <tr>
            <td colspan="4" style="font-style: italic;font-size: larger;font-weight: bold;">
                Rims are bent
            </td>
        </tr>
        <tr>
            <td colspan="4" style="border-top:black 1px solid;">
                <img src="img/blur-brass-chrome-close-up-209255.jpg" style="max-height: 280px;max-width: 280px;">
            </td>
        </tr>
        <tr><td colspan="4"></td></tr>
        <tr><td colspan="4"></td></tr>
        <tr><td colspan="4"></td></tr>
        <tr><td colspan="4"></td></tr>
        <tr><td colspan="4"></td></tr>
        <tr><td colspan="4"></td></tr>

    </tbody>

    <tfoot style="border-top:solid 2px black;">
        <tr>
            <td colspan="4" style="text-align:center;font-size: smaller;">This Memo is intended for temporary use only.</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:center;font-size: smaller;">ValidFor 7 DaysTill: March 10,2020 </td>
        </tr>
        <tr>
            <td colspan="1" style="text-align:left;font-size: smaller;">Printed: 03-Mar-20</td>
            <td colspan="3" style="text-align:left;font-size: smaller;">After 7 days this must be evaluated by Production and Engineering. </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:center;font-size: smaller;">If Expired Notifr Supervisor - Do Not Remove</td>
        </tr>
    </tfoot>
</table>