﻿<!--Apr.2,2020 by Xinghua Li-->
<table class="tag-report">
    <thead>
        <tr>
            <th colspan="3" rowspan="2" style="font-size: xx-large;">
                Quality Alert
            </th>
            <th colspan="1" style="text-align: right;">
                <img src="~/img/stackpole-logo.png" style="max-height:20px;max-width:40px">
            </th>
        </tr>
        <tr>
            <td colspan="1" style="text-align: right;">
                EX15 12216
            </td>
        </tr>
        <tr>
            <th colspan="3" style="font-size:x-large;font-weight: bold;">
                50-1858
            </th>
            <td colspan="1" style="text-align: right;">
                10/08/2015 10:42:57 AM
            </td>
        </tr>
    </thead>

    <tbody>
        <tr style="border-top: 1px solid black;">
            <td>
                Customer:
            </td>
            <td colspan="2">
                Location:
            </td>
            <td style="text-align:center;">
                Customer Ref Num:
            </td>
        </tr>

        <tr>
            <td style="font-size: x-large;font-weight: bold;">
                Magna
            </td>
            <td colspan="2" style="font-size: x-large;font-weight: bold;">
                MSM
            </td>
            <td style="text-align:center;">
                Jaskinder e-mail
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <table style="border:solid black 0.02px;">
                    <tr>
                        <td>Disposition</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Magna</td>
                        <td>Use as ls</td>
                    </tr>
                    <tr>
                        <td>Shipper:</td>
                        <td>Sort</td>
                    </tr>
                </table>
            </td>

            <td colspan="2">
                <table>
                    <tr>
                        <td style="text-align: right;">Issued By: </td>
                        <td> bc</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">No. Of Defective Pieces:</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Est.Cost: </td>
                        <td>$0.00</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td colspan="4"></td></tr>
        <tr><td colspan="4"></td></tr>

        <tr style="border:solid 1px black">
            <td colspan="1" style="font-weight: bold;">Reason</td>
            <td colspan="3">Cracked</td>
        </tr>

        <tr><td colspan="4" style="border-top:black 1px solid;">Customer found another cracked carrier. </td></tr>
        <tr><td colspan="4" style="border-top:black 1px solid;font-weight: bold;">Comment</td></tr>
        <tr><td colspan="4" style="border-top:black 1px solid;">Lot tag 453792 - Audit date July 22,2015</td></tr>
        <!--insert image-->
        <tr>
            <td colspan="4" style="border-top:black 1px solid;">
                <img src="img/blur-brass-chrome-close-up-209255.jpg" style="max-height: 280px;max-width: 280px;">
            </td>
        </tr>

        <tr>
            <td colspan="2"></td>
            <td colspan="1" style="text-align: right;">PFMEA<input type="checkbox" checked></td>
            <td colspan="1">controlPlan<input type="checkbox">LayeredAudit<input type="checkbox"></td>
        </tr>
        <tr><td colspan="4"></td></tr>
        <tr><td colspan="4"></td></tr>
        <tr><td colspan="4"></td></tr>
        <tr><td colspan="4"></td></tr>
        <tr><td colspan="4"></td></tr>
        <tr><td colspan="4"></td></tr>

    </tbody>

    <tfoot style="border-top:solid 2px black;">
        <tr>
            <td colspan="4" style="text-align:left;font-size: smaller;font-style: italic;">Printed: March 3,2020</td>
        </tr>
    </tfoot>
</table>