﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen"/>
    <link rel="stylesheet" href="~/css/site.css" media="all"/>
    <link rel="stylesheet" href="~/css/bootsnipp.css" media="screen"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/home-icon.png" alt="Home" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-light" data-toggle="dropdown" href="#">Site Administration</a>
                                <ul class="dropdown-menu bg-dark">
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">Manage Users</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Role" asp-action="Index">Manage Roles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Error">Audit User Edits</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light" data-toggle="dropdown" data-target="#" href="#">Customers</a>
                            <ul class="dropdown-menu multi-level bg-dark" role="menu">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Customers" asp-action="CustomerIssues">Customer Issues</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Customers" asp-action="Contacts">Contact Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Customers" asp-action="Sorters">Sorter Info</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light" data-toggle="dropdown" href="#">Quality Alert Tags</a>
                            <ul class="dropdown-menu multi-level bg-dark" role="menu">
                                <li class="dropdown-submenu bg-dark">
                                    <a class="nav-link text-light" href="#">New Issue</a>
                                    <ul class="dropdown-menu bg-dark">
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="QualityIssues" asp-action="Create" asp-route-type="IN">Internal Issue Form</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="QualityIssues" asp-action="Create" asp-route-type="EX">External Issue Form</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="QualityIssues" asp-action="Index">Reprint a Tag</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="QualityIssues" asp-action="SignOffHoldTag">Sign Off Hold Tag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="QualityIssues" asp-action="Index" title="Search tags"><i class="fa fa-lg fa-search"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span id="tempDataMessage" class="message">@TempData["Message"]</span>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted border-top">
        <div class="container justified">
            <span>
                <a href="https://www.stackpole.com">
                    <img src="~/img/stackpole-logo.png" alt="Stackpole-Logo" height="32" />
                </a>

            </span>
            <span>
                &copy;&nbsp;2020&nbsp;Robert Di Pardo and Contributors&nbsp;&nbsp;
                <a href="https://bitbucket.org/rdipardo/quality-tags-dotnet/src/master/README.md"><span class="fa fa-bitbucket" aria-hidden="true"></span></a>
            </span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/uploader.js" asp-append-version="true"></script>
    <script src="~/js/form_api.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $('.dropdown').find('a').on('mouseenter.collapse.data-api', '[data-toggle=collapse]', function (e) {
                var $this = $(this),
                    href, target = $this.attr('data-target') || e.preventDefault() || (href = $this.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, '') //strip for ie7
                    ,
                    option = $(target).data('collapse') ? 'show' : $this.data()
                $(target).collapse(option)
            })
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
