﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div style="text-align:center">
        <h1 class="text-danger"><i class="text-danger fa fa-2x fa-exclamation-triangle"></i></h1>
        <p></p>
        <h4 class="text-danger">You do not have access to this resource!</h4>
    </div>
</header>
