﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h3 style="text-align:center">@ViewData["Title"]</h3>
<h6><em>Send recovery instructions to your email address</em></h6>
<hr />
<div class="row">
    <div class="col-xl">
        <form method="post">
            <div class="form-group">
                <div class=" form-inline">
                    <label asp-for="Input.Email"></label>&nbsp;&nbsp;
                    <input asp-for="Input.Email" class="form-control" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group form-inline">
                <button type="submit" class="btn btn-primary no-wrap">Send</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
