﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration Confirmed";

}

<div class="row">
    <div class="col-xl">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span id="tempDataMessage" class="message">A confirmation message has been sent to <strong>@Model.Email</strong></span>
        </div>
        <div>
            <p>
                If you've already confirmed your e-mail, please <a asp-page="./Login">click here to log in</a>.
            </p>
        </div>
    </div>
</div>