﻿@page
@{
    ViewData["Title"] = "Your password has been reset";
}

<div class="row">
    <div class="col-xl">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span id="tempDataMessage" class="message">@ViewData["Title"]</span>
        </div>
        <div>
            <p>
                Please <a asp-page="./Login">click here to log in</a>.
            </p>
        </div>
    </div>
</div>